.container {
    padding: 20px;
    background-color: var(--background-third);
}

.term {
    color: var(--text-primary);
}

.link {
    color: var(--text-third);
}

.link:hover {
    color: var(--text-primary);
}