.productBrand, .sellingPrice {
    color: var(--text-secondary);
}

.item {
    background-color: var(--background-primary);
}

.element {
    padding: 10px;
    border: 2px solid var(--background-secondary);
    border-radius: 10px;
    background-color: var(--background-secondary);
    margin: 0 5px;
}

.element--listGrid {
    margin-left: 40px;
}

.buyButton {
    background-color: var(--background-primary);
}

.containerNormal--listGrid {
    max-width: 100% !important;
}

.skuNameContainer--list {
    color: #000;
    padding: 0 20px;
}

.skuName--list::before {
   content: "\ SKU: ";
}

@media screen and (max-width: 639.9px) {
    .container {
        max-width: 90% !important;
    }

    .image {
        max-height: 100%;
    }
}