.galleryTitle--layout {
    color: var(--text-primary);
    margin: 0 auto;
}

.galleryLayoutOptionButton {
    color: var(--text-primary);
    padding: 0 10px;
}

.filterMessage, .filterTitle {
    color: var(--text-secondary);
}

.filterItem {
    color: var(--text-primary);
}

.filterPopupTitle {
    color: var(--text-secondary);
}

.orderByButton {
    background-color: transparent;
}

.orderByText {
    color: var(--text-third);
}

.searchResultContainer {
    background-color: var(--background-third);
}

@media screen and (min-width: 640px) and (max-width: 1023.9px){
    .resultGallery {
        margin-top: -70px;
    }
}

@media screen and (max-width: 1025.9px){
    .layoutSwitcher {
        display: none;
    }
}

@media screen and (min-width: 1024px){
    .container--layout {
        margin: 0 20px;
    }
    
    .gallery--grid, .gallery--list {
        margin-top: -75px;
    }

    .gallery--grid {
        margin-left: 20px;
    }
}

