.container {
    display: block;
}

.submenuList {
    justify-content: flex-start;
}

.departmentLink {
    padding-right: 33px;
    overflow: hidden;
    color: var(--text-secondary);
}

.departmentList {
    height: auto;
    background-color: var(--background-third);
}

.itemContainer--department {
    margin-right: 1000px;
}