.flexRow--newsletter-line {
    width: 70%;
    margin: 0 auto;
}

.flexRowContent--product-main {
    background-color: var(--background-third);
    margin: 0px;
    padding: 20px 20px;
}

.flexRowContent--main-header-mobile {
    background-color: var(--background-secondary);
}

.flexRow--about-us {
    background-color: var(--background-third);
}

.flexCol--about-us {
    padding: 0px 40px;
}